@page "/vagtplan"
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView>
    <Authorized>

        <div><input type="text" placeholder="Search.."></div>

        <h2>Vagtplan</h2>
        <p>Liste over alle vagter</p>

        @if (taskList == null)
        {
            <p><em>Indlæser...</em></p>
        }
        else
        {
            <table class="table table-borderless table-openair table-hover">
                <thead>
                    <tr>
                        <th>Beskrivelse</th>
                        <th>Lokation</th>
                        <th>Frivillig</th>
                        <th>Start tid</th>
                        <th>Sluttid</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var _task in taskList)
                    {


        @if (_task.Type == "Frivillig") { 

                    <tr>
                        <td>@_task.Description</td>
                        <td>@_task.Location</td>
                        <td>@_task.User</td>
                        <td>@_task.StartTime.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>@_task.StopTime.ToString("dd-MM-yyyy HH:mm")</td>

                    </tr>
                    }
                    }
                </tbody>

            </table>
        }

    </Authorized>
    <NotAuthorized>
        <p>Du har ikke adgang til denne side.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<ApplicationTask> taskList;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
            taskList = await Http.GetFromJsonAsync<List<ApplicationTask>>("Task");
    }

}