@page "/vagtplan"
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize(Roles = "Administrator, Frivillig")]

<AuthorizeView>
    <Authorized>

        <h2>VAGTPLAN FOR FRIVILLIGE</h2>
        <p>Liste over alle vagter</p>

        @if (taskList == null)
        {
            <p><em>Indlæser...</em></p>
        }
        else
        {
            <div class="form-group">
                <label asp-for="categories">Vælg en jobkategori</label>
                <select @bind="category" @onclick="@(async()=> await Getcategories(category))" asp-for="category" class="form-control">
                    <option value="Sceneopsætning">Sceneopsætning</option>
                    <option value="Rengøring">Rengøring</option>
                    <option value="Bar">Bar</option>
                    <option value="Entre">Entre</option>
                    <option value="Vagt">Vagt</option>
                    <option value="Madbod">Madbod</option>
                    <option value="Backstage">Backstage</option>
                    <option value="Andet">Andet</option>
                </select>
            </div>

            <table class="table table-borderless table-openair table-hover">
                <thead>
                    <tr>
                        <th>Beskrivelse</th>
                        <th>Lokation</th>
                        <th>Koordinator</th>
                        <th>Jobkategori</th>
                        <th>Starttid</th>
                        <th>Sluttid</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var _task in taskList)
                    {


                        @if (_task.Type == "Frivillig")
                        {

                            <tr>
                                <td>@_task.Description</td>
                                <td>@_task.Location</td>
                                <td>@_task.User</td>
                                <td>@_task.Category</td>
                                <td>@_task.StartTime.ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@_task.StopTime.ToString("dd-MM-yyyy HH:mm")</td>

                            </tr>
                        }
                    }
                </tbody>

            </table>
        }

<<<<<<< HEAD
        <div class="form-group">
            <form method="post" asp-page-handler"FilterGenerated">
                <label asp-for="categories">Vælg en jobkategori</label>
                <select asp-for="categories" class="form-control">
                    <option value="Sceneopsætning">Sceneopsætning</option>
                    <option value="Rengøring">Rengøring</option>
                    <option value="Bar">Bar</option>
                    <option value="Entre">Entre</option>
                    <option value="Vagt">Vagt</option>
                    <option value="Madbod">Madbod</option>
                    <option value="Backstage">Backstage</option>
                    <option value="Andet">Andet</option>
                </select>
            </form>
        </div>
        <tbody>
            @foreach (var _task in taskList)
            {
                    <tr>
                        <td>@_task.Description</td>
                        <td>@_task.Location</td>
                        <td>@_task.User</td>
                        <td>@_task.Category</td>
                        <td>@_task.StartTime.ToString("dd-MM-yyyy HH:mm")</td>
                        <td>@_task.StopTime.ToString("dd-MM-yyyy HH:mm")</td>

                    </tr>
            }
        </tbody>
=======




>>>>>>> 159ae82aa247aca81bcb4ffadd4d09db8efeb0c7
        <br />

    </Authorized>
    <NotAuthorized>
        <p>Du har ikke adgang til denne side.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<ApplicationTask> taskList;

    public string category;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
            taskList = await Http.GetFromJsonAsync<List<ApplicationTask>>("Task");
    }
<<<<<<< HEAD
=======

    protected async Task Getcategories(string category)
    {
        taskList = await Http.GetFromJsonAsync<List<ApplicationTask>>("Task/" + category);
    }


>>>>>>> 159ae82aa247aca81bcb4ffadd4d09db8efeb0c7
}