@page "/createuser"
@using OpenAir.Shared.Models
@inject HttpClient Http
@inject NavigationManager UriHelper

<h3>Lav en bruger</h3>
<hr />

<div class="row" style=" text-align: center; place-content: center">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <input for="FirstName" class="form-control" placeholder="Fornavn" @bind="@user.first_name" />
            </div>
            <div class="form-group">
                <input for="LastName" class="form-control" placeholder="Efternavn" @bind="@user.last_name" />
            </div>
            <div class="form-group">
                <input for="Email" class="form-control" placeholder="Email" @bind="@user.email" />
            </div>
            <div class="form-group">
                <input for="Password" class="form-control" placeholder="Adgangskode" @bind="@user.password" />
            </div>
            <div class="form-group">
                <input type="button" class="btn btn-danger" @onclick="@Cancel" value="Fortryd" />
                <input type="button" class="btn btn-primary" @onclick="@(async () => await AddUser())" value="Opret bruger" />
            </div>
        </form>
    </div>
</div>

@code {
    UserClass user = new UserClass();

    protected async Task AddUser()
    {
        await Http.PostAsJsonAsync("User", user);
        UriHelper.NavigateTo("/users");
    }

    void Cancel()
    {
        UriHelper.NavigateTo("/users");
    }
}
