@page "/vagtplan"
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize(Roles = "Administrator, Frivillig")]

<AuthorizeView>
    <Authorized>

        <h2>VAGTPLAN FOR FRIVILLIGE</h2>
        <p>Liste over alle vagter</p>

        @if (taskList == null)
        {
            <p><em>Indlæser...</em></p>
        }
        else
        {
<<<<<<< HEAD:Client/Pages/Vagtplan.razor
            <table id="vagtTable" class="table table-borderless table-openair table-hover">
=======
            <div class="form-group">
                <label asp-for="categories" class="control-label">
                    Vælg en jobkategori
                </label>
                <select asp-for="categories" class="form-control"
                        @bind="category"
                        @onclick="@(async () => await GetTaskCategory(category))">
                    <option value="Alle"> Vis alle kategorier</option>
                    <option value="Sceneopsætning"> Sceneopsætning</option>
                    <option value="Rengøring">Rengøring</option>
                    <option value="Bar">Bar</option>
                    <option value="Entre">Entre</option>
                    <option value="Vagt">Vagt</option>
                    <option value="Madbod">Madbod</option>
                    <option value="Backstage">Backstage</option>
                    <option value="Andet">Andet</option>
                </select>
            </div>

            <table class="table table-borderless table-openair table-hover">
>>>>>>> a16da7a6f55a9f2076604ed467ac187f03ec4ba6:Client/Pages/Tasks/Vagtplan.razor
                <thead>
                    <tr>
                        <th onclick="sortTable(0)">Beskrivelse</th>
                        <th>Lokation</th>
                        <th>Koordinator</th>
                        <th>Jobkategori</th>
                        <th onclick="sortTable(1)">Starttid</th>
                        <th>Sluttid</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var _task in taskList)
                    {
                        @if (_task.Type == "Frivillig")
                        {
                            <tr>
                                <td>@_task.Description</td>
                                <td>@_task.Location</td>
                                <td>@_task.User</td>
                                <td>@_task.Category</td>
                                <td>@_task.StartTime.ToString("dd-MM-yyyy HH:mm")</td>
                                <td>@_task.StopTime.ToString("dd-MM-yyyy HH:mm")</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
<<<<<<< HEAD:Client/Pages/Vagtplan.razor


            @*<div class="form-group">
                    <label for="categories">Vælg en jobkategori</label>
                    <select class="form-control" @bind="@Soegefelt">
                        <option value="Sceneopsætning">Sceneopsætning</option>
                        <option value="Rengøring">Rengøring</option>
                        <option value="Bar">Bar</option>
                        <option value="Entre">Entre</option>
                        <option value="Vagt">Vagt</option>
                        <option value="Madbod">Madbod</option>
                        <option value="Backstage">Backstage</option>
                        <option value="Andet">Andet</option>
                    </select>
                </div>*@ <br />
        }
=======
        }

>>>>>>> a16da7a6f55a9f2076604ed467ac187f03ec4ba6:Client/Pages/Tasks/Vagtplan.razor
    </Authorized>
    <NotAuthorized>
        <p>Du har ikke adgang til denne side.</p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private List<ApplicationTask> taskList;

<<<<<<< HEAD:Client/Pages/Vagtplan.razor
=======
    public string category;

>>>>>>> a16da7a6f55a9f2076604ed467ac187f03ec4ba6:Client/Pages/Tasks/Vagtplan.razor
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            await GetTasks();
        }
    }

<<<<<<< HEAD:Client/Pages/Vagtplan.razor
    @*function sortTable(n)
        {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = Vagtplan.getElementbyId("vagtTable");
            switching = true;

            dir = "asc";
            while (switching)
            {
                switching = false;
                rows = table.rows;

                for (i = 1; i < (rows.length - 1); i++)
                {

                    shouldSwitch = false;

                    x = rows[i].getElementsByTagName("TD")[0];
                    y = rows[i + 1].getElementsByTagName("TD")[1];
=======
    protected async Task GetTasks()
    {
        taskList = await Http.GetFromJsonAsync<List<ApplicationTask>>("Task");
    }

    protected async Task GetTaskCategory(string _category)
    {
        if (_category == "Alle" || _category == null)
        {
            await GetTasks();
        }
        else
        {
            taskList = await Http.GetFromJsonAsync<List<ApplicationTask>>("Task/Category/" + _category);
        }
    }
>>>>>>> a16da7a6f55a9f2076604ed467ac187f03ec4ba6:Client/Pages/Tasks/Vagtplan.razor

                    if (dir == "asc")
                    {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase())
                        {
                            shouldSwitch = true;
                            break;
                        }

                    }
                    else if (dir == "desc")
                    {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase())
                        {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch)
                {

                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                }
                else
                {
                    if (switchcount == 0 && dir == "asc")
                    {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }*@
}
