@page "/ticket"
@inject HttpClient Http
@inject NavigationManager UriHelper
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IJSRuntime js

<AuthorizeView>
    <Authorized>

        <h1 class="billet_overskrift">SE PRISER PÅ BILLETTER HER</h1>
        <div class="container_billet">
            <div class="card Partout" style="width: 18rem;">
                <img src="/images/partoutbillet.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 2499,- DKK </b>
                    <p></p>
                    <a @onclick="@BuyTicket" class="btn btn-primary openair-blue-btn btn-sm">PARTOUT</a>
                    <p></p>
                    <p class="card-text">OPLEV ALLE KUNSTERE OG FÅ ADGANG TIL FESTIVALEN ALLE 3 DAGE!</p>

                </div>
            </div>
            <div class="card Billet1" style="width: 18rem;">
                <img src="/images/torsdag.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 899,- DKK </b>
                    <p></p>
                    <a @onclick="@BuyTicket" class="btn btn-primary openair-blue-btn btn-sm">TORSDAG</a>
                    <p></p>
                    <p class="card-text">HEADLINER PÅ TORSDAG ER MILEY CYRUS</p>
                </div>
            </div>
            <div class="card Billet2" style="width: 18rem;">
                <img src="/images/ticket.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 899,- DKK </b>
                    <p></p>
                    <a @onclick="@BuyTicket" class="btn btn-primary openair-blue-btn btn-sm">FREDAG</a>
                    <p></p>
                    <p class="card-text">START WEEKENDEN STÆRKT PÅ OPENAIR</p>
                </div>
            </div>
            <div class="card Billet3" style="width: 18rem;">
                <img src="/images/ticket.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 899,- DKK </b>
                    <p></p>
                    <a @onclick="@BuyTicket" class="btn btn-primary openair-blue-btn btn-sm">LØRDAG</a>
                    <p></p>
                    <p class="card-text">BANGER BANGER BANGER</p>
                </div>
            </div>
        </div>

    </Authorized>
    <NotAuthorized>

        <h1 class="billet_overskrift">LOG IND FOR AT RESERVERE EN BILLET</h1>
        <div class="container_billet">
            <div class="card Partout" style="width: 18rem;">
                <img src="/images/partoutbillet.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 2499,- DKK </b>
                    <p></p>
                    <a @onclick="@BuySite" class="btn btn-primary openair-blue-btn btn-sm">PARTOUT</a>
                    <p></p>
                    <p class="card-text">OPLEV ALLE KUNSTERE OG FÅ ADGANG TIL FESTIVALEN ALLE 3 DAGE!</p>

                </div>
            </div>
            <div class="card Billet1" style="width: 18rem;">
                <img src="/images/torsdag.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 899,- DKK </b>
                    <p></p>
                    <a @onclick="@BuySite" class="btn btn-primary openair-blue-btn btn-sm">TORSDAG</a>
                    <p></p>
                    <p class="card-text">HEADLINER PÅ TORSDAG ER MILEY CYRUS</p>
                </div>
            </div>
            <div class="card Billet2" style="width: 18rem;">
                <img src="/images/fredag.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 899,- DKK </b>
                    <p></p>
                    <a @onclick="@BuySite" class="btn btn-primary openair-blue-btn btn-sm">FREDAG</a>
                    <p></p>
                    <p class="card-text">START WEEKENDEN STÆRKT PÅ OPENAIR</p>
                </div>
            </div>
            <div class="card Billet3" style="width: 18rem;">
                <img src="/images/lørdag.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <b> 899,- DKK </b>
                    <p></p>
                    <a @onclick="@BuySite" class="btn btn-primary openair-blue-btn btn-sm">LØRDAG</a>
                    <p></p>
                    <p class="card-text">BANGER BANGER BANGER</p>
                </div>
            </div>
        </div>
        @*<h3>BILLETTER</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>BILLETTER</th>
                        <th>PRIS</th>
                        <th style="width: 0px">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>PARTOUT</td>
                        <td>2499</td>
                        <td>
                            <button class="btn btn-primary openair-blue-btn btn-sm" @onclick="@BuySite">
                                <span aria-hidden="true">RESERVER</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>TORSDAG</td>
                        <td>899</td>
                        <td>
                            <button class="btn btn-primary openair-blue-btn btn-sm" @onclick="@BuySite">
                                <span aria-hidden="true">RESERVER</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>FREDAG</td>
                        <td>899</td>
                        <td>
                            <button class="btn btn-primary openair-blue-btn btn-sm" @onclick="@BuySite">
                                <span aria-hidden="true">RESERVER</span>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>LØRDAG</td>
                        <td>899</td>
                        <td>
                            <button class="btn btn-primary openair-blue-btn btn-sm" @onclick="@BuySite">
                                <span aria-hidden="true">RESERVER</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>*@

    </NotAuthorized>
</AuthorizeView>

@code{
    private List<TicketClass> TicketListe = new List<TicketClass>();

    // private TicketClass ticket;

    //authorize
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authState.User;

        if (user.Identity.IsAuthenticated)
        {
            TicketListe = await Http.GetFromJsonAsync<List<TicketClass>>("Ticket");
        }
    }

    //køb billet /createticket page
    void BuyTicket()
    {
        UriHelper.NavigateTo("/createticket");

    }

    void BuySite()
    {
        UriHelper.NavigateTo("/authentication/login");
    }


    protected async Task GetTicket()
    {
        TicketListe = await Http.GetFromJsonAsync<List<TicketClass>>("Ticket");
    }

    protected async Task GetTicketTitle(string Title)
    {
        if (Title == "Alle" || Title == null)
        {
            await GetTicket();
        }
        else
        {
            TicketListe = await Http.GetFromJsonAsync<List<TicketClass>>("Ticket/Title/" + Title);
        }
    }
}